*{
    margin: 0;

}
.navbar{
    position: absolute;
    left: 15vw;
    background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
    height: 10vh;
    width: 85%;
}
.navbar button{
height: 7vh;
border: none;
cursor: pointer;
}
.symbol button{
font-size: 2vw;

}
.symbol{
    display: flex;
    justify-content: space-around;
    width: 10vw;

}
.registration{
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
}


